# Dependency directories
node_modules/

# Local configuration
.config/
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log
.firebaserc

# OS metadata
.DS_Store
Thumbs.db
